#podcaster-header, #podcaster-main{
	border-bottom: 3px solid #5b7eb3;
}

.navigate-reference{
	cursor: pointer;
}

#resultsNumber{
	font-size: 23px;
}

.rounded-img{
	border-radius: 50%;
	height: 150px;
	width: 150px;
}
.summary-img{
	border-radius: 5px;
	height: 150px;
	width: 150px;
}
.font-14{
	font-size: 14px;
}

.font-12{
	font-size: 12px;
}
.podcast-card:active{
	background-color: #17a2b8;
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.podcast-card:hover{
	background-color: #c4e5ea;
	border:-1px solid #17a2b8;
}
.podcast-card{
	border-radius: 10px;
	cursor: pointer;
 }
 .summary-card {
 	border-radius: 3px;
 	box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
 }
 .podcast-summary-main:hover{
 	cursor: pointer;
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
 }
 .podcast-summary-main:active{
 	background-color: #17a2b8;
 }
 .title-link:hover{
 	cursor: pointer;
 	color: blue;
 }