<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /podcaster/
    RewriteCond %{THE_REQUEST} ^.*/index.html 
    RewriteRule ^(.*)index.html$ /podcaster/$1 [R,L] 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/index\.html
    RewriteRule (.*) index.html
</ifModule>