<div class="col-2">
	<div class="col-12 pr-0 pl-0 podcast-card" data-podcastid="<%=id%>">
        <div class="text-center">
            <img class="rounded-img" data-src="<%=src%>" alt="<%=alt%>" src="<%=src%>" data-holder-rendered="true">
        </div>
        <div class="text-center">
            <p class="text-uppercase mb-0 font-weight-bold font-14"><%=name%></p>
            <p class="font-weight-light font-12">Author: <%=author%></p>
        </div>
	</div>
</div>	