<div id="podcastSearchView" class="col-12 pr-0 pl-0 pt-2">
	<div id="podcastFilterView" class="row justify-content-end">
		
	</div>
	<div id="podcastResultView" class="col-12 pr-0 pl-0 pt-2 pb-2">
					
	</div>
</div>