<div id="podcastSearchView" class="col-12">
	<div id="podcastFilterView" class="row justify-content-end">
		<div id="results" class="col-1"> sdfsdf</div>
		<div id="filter-div" class="col-2 align-self-end">
			<input type="text" class="form-control" id="nameFilter" placeholder="Filter podcast">
		</div>
	</div>
	<div id="podcastResultView">
		<!-- Elementos podcast solo uno, esto es otra vista-->
			<div class="col">
				<div><img src=""></div>
				<div class="align-center">
					<p> Name </p><br>
					<p> Autor </p>
				</div>
			</div>
	</div>
</div>