
<div class="col-12 pt-3 pb-3 summary-card">
    <div class="">
       <h3><%=title%></h3>
    </div>
    </br>
    <div class="">
        <span><%=description%></span>
    </div>
    </br>
	</hr>
	<div class="col-12">
        <audio controls>
  			<source src="<%=media%>" type="<%=mediaType%>">
  		</audio>
    </div>
</div>