
<div class="col-12 pt-3 pb-3 summary-card" data-podcastid="<%=id%>">
    <div class="text-center">
        <img class="summary-img" data-src="<%=src%>" alt="<%=alt%>" src="<%=src%>" data-holder-rendered="true">
    </div>
    <hr>
    <div id="podcast-summary-main" class="podcast-summary-main" data-podcastid="<%=id%>">
        <span class="text-uppercase mb-0 font-weight-bold font-14"><%=name%></span>
    	</br>
        <span class="font-weight-light font-12 font-italic">by: <%=author%></span>
    </div>
    <hr>
    <div class="">
		<span class="text-uppercase mb-0 font-weight-bold font-12">Description:</span>
		</br>
        <span class="font-weight-light font-italic font-12"><%=summary%></span>
    </div>
</div>
