<div class="col-12 pt-3 pb-3 ">
    <div class="summary-card p-2">
       <h3>Episodes: <%=episodesNumber%></h3>
    </div>
    </br>
    <div class="summary-card">
        <table class="col-12 table table-striped ">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Duration</th>
                </tr>
            </thead>
            <tbody>
                <%=rows%>
            </tbody>
        </table>
    </div>
</div>